/* Justify paragraphs and lists in the main content area */
.page__content p {
  text-align: justify !important;
  text-justify: inter-word;
}

.page__content li {
  text-align: justify !important;
  text-justify: inter-word;
}